tests/tools/parser/data/parser/element/simple_type/unbounded.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ex="http://example.com"
        targetNamespace="http://example.com">
    <element name="root" type="ex:complex2"/>

    <complexType name="complex2">
        <sequence>
            <element name="child" minOccurs="2" maxOccurs="unbounded">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="child0"/>
                        <enumeration value="child1"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
</schema>